@charset "utf-8";
/* 아이디 찾기 창 */
.find-box,
.withdrawal-box {
  margin: 0 auto;
  width: 20rem;
  height: 31rem;
}
.form-group input {
  width: 100%;
  height: 2.5rem;
  font-size: 0.9rem;
  border: 1px solid #afafaf;
  margin-bottom: 1rem;
  padding-left: 0.7rem;
  outline: none;
}
#id-find, 
#pwd-find,
#withdrawal-btn {
  width: 100%;
  height: 3.1rem;
  background: #3781e3;
  color: #fafafa;
  font-size: 1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  margin: 2rem 0 0.9rem 0;
}
.join-login {
  font-size: 0.85rem;
}
.join-login li:first-child {
  display: inline-block;
}
.join-login li:last-child {
  float: right;
}

/* 탈퇴하기 */
.announce {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}